{
  "plugins": ["@typescript-eslint", "import", "react"],
  "extends": ["airbnb-typescript", "plugin:@typescript-eslint/recommended", "plugin:prettier/recommended"],
  "parser": "@typescript-eslint/parser",
  "rules": {
    "jsx-a11y/anchor-is-valid": "off",
    "react/require-default-props": "off",
    "react/no-danger": "off",
    "react/jsx-one-expression-per-line": "off",
    "@typescript-eslint/no-explicit-any": "off"
  },
  "overrides": [{ "files": ["**/*.tsx"], "rules": { "react/prop-types": "off" } }],
  "parserOptions": {
    "project": "./tsconfig.json",
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  }
}
