<pre><code>
const saySomething =
    something => console.log(something);

saySomething('Hello world!');
</code></pre>

<!-- <a href="#" class="image main"><img src="{{ "../images/pic01.jpg" | absolute_url }}" alt="" /></a> -->

<p>The topics I want to cover in the future (a.k.a. TODO):</p>

<ul>
    <li> mastering Git (like, <strong>really</strong> mastering, become a Rebase Master),</li>
    <li> what's the deal with <em>this</em>??</li>
    <li> summary of good practices in React,</li>
    <li> ~~<code>const</code> vs. <code>let</code> vs. <code>var</code>~~ (will be covered <a href="./variables-and-constants.md">here</a>),</li>
    <li> Linter rules (and why you should be using Linter in the first place),</li>
    <li> why do I always break <em>npm</em> and what is <code>package.json</code>,</li>
    <li> just bite <em>node</em>, even just a little, just try,</li>
    <li> transpiling, do I even use it?</li>
    <li> <code>Object.prototype</code>,</li>
    <li> passing via value / reference,</li>
    <li> closures,</li>
    <li> classes,</li>
    <li> shallow vs. deep copy,</li>
    <li> class property syntax,</li>
    <li> setters and getters,</li>
    <li> <code>*.es</code> vs. <code>*.js</code>,</li>
    <li> proxies,</li>
    <li> documenting functions,</li>
    <li> <code>undefined</code>, <code>null</code>, <code>NaN</code>,</li>
    <li> what are APIs and how to test it.</li>
</ul>