<ul class="social-media-list">
  <li><a href="https://github.com/{{ site.github }}"><img class="svg-icon" src="/assets/img/github.svg" /><span class="username">{{ site.github }}</span></a></li>
  <li><a href="https://www.linkedin.com/in/{{ site.linkedin }}"><img class="svg-icon" src="/assets/img/linkedin.svg" /><span class="username">{{ site.linkedin }}</span></a></li>
  <li><a href="https://www.hackerrank.com/{{ site.hackerrank }}"><img class="svg-icon" src="/assets/img/hackerrank.svg" /><span class="username">{{ site.hackerrank }}</span></a></li>
</ul>