<h2>Global TODO list:</h2>

<ul>
  <li>
    <label>
      <input type="checkbox" name="cb1" value="" />
      Complete <a href='https://frontendmasters.com/courses/web-development-v2/'>Complete Intro to Web Development, v2</a> by Brian Holt
    </label>
  </li>

  <li>
    <label>
      <input type="checkbox" name="cb2" value="" />
      <span class="striked">Can I use a smarter templating for codelogs, so I do not have to repeat the headers?</span>
       Implement a template
    </label>
  </li>

  <li>
    <label>
      <input type="checkbox" name="cb3" value="" />
      Clean up default theme CSS
    </label>
  </li>

  <li>
    <label>
      <input type="checkbox" name="cb4" value="" />
      Create a landing page
    </label>
  </li>

  <li>
    <label>
      <input type="checkbox" name="cb5" value="" />
      Find out what happened with my local repo as described here: <a href="2019-04-21-Codelog.html" />Codelog 2019-04-21</a>
    </label>
  </li>
</ul>