.main {
  border: 1px solid black;
  width: 400px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;

  font-size: 30px;
  margin: -250px 0 0 -200px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr [column-end];
  grid-template-rows: 2fr 1fr 1fr 1fr 1fr 1fr;
}

.button {
  background: lightgray;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  background: gray;
}

.main .button:nth-child(4n) {
  background: orange;
}

.main .button:nth-child(4n):hover {
  background: darkorange;
}

.result {
  background-color: black;
  color: white;
  grid-column-start: 1;
  grid-column-end: column-end;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 20px;
}

.clear {
  grid-column-start: 1;
  grid-column-end: span 2;
}

.zero {
  grid-column-start: 1;
  grid-column-end: span 3;
}