#calendar-table {
  table {
    border: none;
  }
}

.month {
  color: $text-color;
  margin: 10px 0 10px 20px;
}

.row {
  background: transparent !important;
}

.cell {
  border: none;
  cursor: pointer;
  font-weight: 700;
  text-align: center;
  display: inline-block;
  width: 40px;
  margin: 5px;
}

.url {
  width: 36px;
  border: 2px solid #FEFEFE;
  border-radius: 50px;
  background-color: $grey-color;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  color: #FFF;

  a {
    color: #FFF;

    &:hover{
      color: $text-color;
    }
  }
}