.background {
  align-items: center;
  background-attachment: fixed;
  background-image: url("../assets/bg.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.content {
  background-color: rgba(220,227,235,0.8);
  display: block;
  height: 100%;
  margin: 0 auto;
  max-width: 70%;
  padding: 50px;
}

.footer {
  align-self: center;
  border-top: 1px solid #e8e8e8;
  font-size: 12px;
  line-height: 3;
  text-align: center;
}