.background {
  align-items: center;
  background-attachment: fixed;
  background-image: url("../assets/bg.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content-container {
  flex: 1 1 auto;
  display: flex;
}

.content {
  background-color: rgba(220,227,235,0.8);
  display: block;
  height: 100%;
  margin: 0 auto;
  max-width: 70%;
  padding: 50px;
}

.footer {
  border-top: 1px solid #e8e8e8;
  font-size: 12px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 60px;
}

.footerText {
  margin: 0;
}