.main {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.hello {
  font-size: 45px;
}

.tagline {
  font-size: 30px;
}

.description {
  color: #828282;
  font-size: 13.5px;
  max-width: 60%;
}

.social {
  height: 30px;
  margin: 5px 10px;
  width: 30px;
}

.nav {
  color: #828282;
  margin-right: 20px;
}
