---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import { Card } from 'accessible-astro-components'

import { getCollection } from 'astro:content';
const blog = await getCollection('blog');
---

<DefaultLayout title="Blog">
  <section class="my-12">
    <div class="space-content container">
      <h1>Blog</h1>
    </div>
  </section>
  <section class="my-12">
    <div class="container">
      <ul class="my-3">
        {
          blog.map((b) => (
            <li>
              <Card
                url={'/blog/' + b.slug}
                title={b.data.title}
                footer=""
              >
                {b.data.date}
              </Card>
            </li>
          ))
        }
      </ul>
    </div>
  </section>
</DefaultLayout>

<style lang="scss">
  ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 4rem;

    @media (min-width: 550px) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem;
    }

    @media (min-width: 950px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
</style>
