---
import DefaultLayout from '@layouts/DefaultLayout.astro'

import { getCollection } from 'astro:content';
const codeLogs = await getCollection('codeLogs');
---

<DefaultLayout title="Code Logs">
  <section class="my-12">
    <div class="space-content container">
      <h1>Code Logs</h1>
      <p class="text-2xl">
        Codelogs were my way of taking notes while learning new stuff during my transitioning from QA to full time dev. I was mostly using <a href="https://frontendmasters.com/">Frontend Masters courses</a> and a bit of <a href="https://hackerrank.com/">Hackerrank</a>. Each day I was studying, I was taking notes following the pattern of:
      </p>
      <ol>
        <li>What are my plans for today?</li>
        <li>What did I learn today?</li>
        <li>What resources did I use?</li>
        <li>What other resources did I stumble upon?</li>
      </ol>
    </div>
  </section>
  <section class="my-12">
    <div class="container">
      <ul class="my-3">
        {
          codeLogs.map((cl) => (
            <li><a href={`/codeLogs/${cl.slug}`}>{cl.data.title}</a>
            </li>
          ))
        }
      </ul>
    </div>
  </section>
</DefaultLayout>

<style lang="scss">
  ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 4rem;

    @media (min-width: 550px) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem;
    }

    @media (min-width: 950px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
</style>
