---
---

@import "main";

.striked {
  text-decoration: line-through;
}

img[src*="#about-picture"] {
    border-radius: 50%;
    width: 140px;
    height: 140px;
    float: left;
    margin-right: 10px;
}

img[src*="#doggo"] {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    float: right;
    margin-left: 10px;
}
