---
// import CallToAction from '@components/CallToAction.astro'

---

<footer>
  <!-- <CallToAction /> -->
  <section class="py-8">
    <div class="container">
      <p>
        Made with ❤️ using <a href="https://astro.build">Astro</a> and <a href="https://contentful.com/">Contentful</a>
        <span class="mx-3">&middot;</span>
        <a href="https://github.com/msieroslawska/msieroslawska.github.io">Source</a>
        <span class="mx-3">&middot;</span>
        Based on the <a href="https://github.com/markteekman/accessible-astro-starter">Accessible Starter Theme</a> made by <a href="https://github.com/markteekman">Mark Teekman</a>
      </p>
    </div>
  </section>
</footer>
