/**
 * Site header
 */
.site-header {
  border-top: 5px solid $grey-color-dark;
  border-bottom: 1px solid $grey-color-light;
  min-height: $spacing-unit * 1.865;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.site-nav {
  // float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  flex: 1;
}

.article {
  padding: 15px;
  border-radius: 1%;
  background-color: rgba(220, 227, 235, 0.8);
}

.header {
  margin-bottom: $spacing-unit;
}

.title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.content {
  margin-bottom: $spacing-unit;
}

h2 {
  @include relative-font-size(2);

  @include media-query($on-laptop) {
    @include relative-font-size(1.75);
  }
}

h3 {
  @include relative-font-size(1.625);

  @include media-query($on-laptop) {
    @include relative-font-size(1.375);
  }
}

h4 {
  @include relative-font-size(1.25);

  @include media-query($on-laptop) {
    @include relative-font-size(1.125);
  }
}


/**
  * Home layout
  */
.home {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.hello {
  @include relative-font-size(3);
}

.tagline {
  @include relative-font-size(2);
}

.description {
  @include relative-font-size(0.9);
  max-width: 60%;
  margin: 20px 0;
  color: $grey-color;
}

