@use 'colors';

@mixin block-spacing {
  padding: 10px;
}

.page-wrapper {
  min-height: 100vh;
  display: flex;
}

.hello-section {
  @include block-spacing();

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hello {
  font-size: 45px;
}

.sidebar {
  flex: 0 0 300px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid colors.$black;
}

.nav {
  @include block-spacing();

  flex: 1 1;
}

.footer {
  @include block-spacing();

  flex: 0 0;
}

.page-section {
  @include block-spacing();
}
