@use 'colors';
@use 'mixins';

@mixin block-spacing {
  padding: 10px 50px;

  @media (min-width: 800px) {
    padding: 10px 80px;
  }
}

/* PAGE STRUCTURE */

.page-wrapper {
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
  display: grid;
  grid-template-areas: 'nav' 'content';
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;

  @media (min-width: 800px) {
    overflow-y: hidden;
    grid-template-areas: 'nav content';
    grid-template-columns: 200px auto;
    grid-template-rows: 1fr;
  }
}

.page-section,
.hello-section {
  @include block-spacing();

  grid-area: content;
  width: 100vw;

  @media (min-width: 800px) {
    width: unset;
    overflow-y: auto;
  }
}

.hello-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav {
  padding: 10px;
  grid-area: nav;
  display: flex;
  flex-wrap: wrap;

  .link {
    text-decoration: none;

    &::after {
      content: '|';
      margin: 0 5px;
    }

    &:last-child::after {
      content: '';
      margin: 0;
    }
  }

  @media (min-width: 800px) {
    flex-direction: column;
    border-right: 1px solid colors.$black;
    text-align: center;
    height: 100vh;

    .link::after {
      content: '';
      margin: 0;
    }
  }
}

.footer {
  margin-top: 50px;

  @media (min-width: 800px) {
    margin-top: 100px;
  }
}

/* STYLING */

.current-link {
  font-weight: bold;
  color: colors.$yellow;
  text-decoration: underline;
}

.hello {
  @include mixins.relative-font-size(2);

  @media (min-width: 800px) {
    @include mixins.relative-font-size(4);
  }
}

.crumbs {
  padding: 5px 20px;
}

.crumb-link {
  @include mixins.relative-font-size(0.9);

  text-decoration: none;

  &::after {
    content: '>';
    margin: 0 5px;
  }

  &:last-child::after {
    content: '';
    margin: 0;
  }
}

.page-header {
  @include mixins.relative-font-size(2);
}

.page-subheader {
  @include mixins.relative-font-size(1.8);
}

.section-header {
  @include mixins.relative-font-size(1.5);
}

.wrapped-list {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  max-height: 200px;

  .wrapped-element {
    margin: 5px 15px;
    list-style: none;
    flex: 0 0 100px;
  }
}
