@use 'colors';

$base-font-family: "DM Sans", Helvetica, Arial, sans-serif;
$base-font-size: 15px;
$base-font-weight: 300;
$base-line-height: 1.8;

$text-color: colors.$black;
$background-color: colors.$white;